<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:basememara.com</string>
		<string>applinks:www.basememara.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.io.zamzam.Basem-Emara</string>
		<string>group.io.zamzam.Basem-Emara-staging</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)io.zamzam.Basem-Emara</string>
		<string>$(AppIdentifierPrefix)io.zamzam.Basem-Emara-staging</string>
	</array>
</dict>
</plist>
